<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaChatWAR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BroadcastServlet</display-name>
    <servlet-name>BroadcastServlet</servlet-name>
    <servlet-class>pack.BroadcastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadcastServlet</servlet-name>
    <url-pattern>/BroadcastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatUserDisplayServlet</display-name>
    <servlet-name>ChatUserDisplayServlet</servlet-name>
    <servlet-class>pack.ChatUserDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatUserDisplayServlet</servlet-name>
    <url-pattern>/ChatUserDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>pack.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>pack.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>pack.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Check_Servlet</display-name>
    <servlet-name>Login_Check_Servlet</servlet-name>
    <servlet-class>pack.Login_Check_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Check_Servlet</servlet-name>
    <url-pattern>/Login_Check_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegistrationServlet</display-name>
    <servlet-name>NewRegistrationServlet</servlet-name>
    <servlet-class>pack.NewRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegistrationServlet</servlet-name>
    <url-pattern>/NewRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatWithUser</display-name>
    <servlet-name>ChatWithUser</servlet-name>
    <servlet-class>pack.ChatWithUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatWithUser</servlet-name>
    <url-pattern>/ChatWithUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckFlag</display-name>
    <servlet-name>CheckFlag</servlet-name>
    <servlet-class>pack.CheckFlag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFlag</servlet-name>
    <url-pattern>/CheckFlag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveText</display-name>
    <servlet-name>RetrieveText</servlet-name>
    <servlet-class>pack.RetrieveText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveText</servlet-name>
    <url-pattern>/RetrieveText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRequestAccept</display-name>
    <servlet-name>ProcessRequestAccept</servlet-name>
    <servlet-class>pack.ProcessRequestAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRequestAccept</servlet-name>
    <url-pattern>/ProcessRequestAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckFlag2</display-name>
    <servlet-name>CheckFlag2</servlet-name>
    <servlet-class>pack.CheckFlag2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFlag2</servlet-name>
    <url-pattern>/CheckFlag2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRequestIgnore</display-name>
    <servlet-name>ProcessRequestIgnore</servlet-name>
    <servlet-class>pack.ProcessRequestIgnore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRequestIgnore</servlet-name>
    <url-pattern>/ProcessRequestIgnore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterRequest</display-name>
    <servlet-name>RegisterRequest</servlet-name>
    <servlet-class>pack.RegisterRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRequest</servlet-name>
    <url-pattern>/RegisterRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>pack.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PushMessage</display-name>
    <servlet-name>PushMessage</servlet-name>
    <servlet-class>pack.PushMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushMessage</servlet-name>
    <url-pattern>/PushMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DissolveChat</display-name>
    <servlet-name>DissolveChat</servlet-name>
    <servlet-class>pack.DissolveChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DissolveChat</servlet-name>
    <url-pattern>/DissolveChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>pack.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>pack.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword2</display-name>
    <servlet-name>ForgotPassword2</servlet-name>
    <servlet-class>pack.ForgotPassword2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword2</servlet-name>
    <url-pattern>/ForgotPassword2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resetonnavigation</display-name>
    <servlet-name>Resetonnavigation</servlet-name>
    <servlet-class>pack.Resetonnavigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resetonnavigation</servlet-name>
    <url-pattern>/Resetonnavigation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNamebyId</display-name>
    <servlet-name>GetNamebyId</servlet-name>
    <servlet-class>pack.GetNamebyId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNamebyId</servlet-name>
    <url-pattern>/GetNamebyId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccount</display-name>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>pack.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>
</web-app>